*{
    margin: 0;
    padding: 0;
}
body{
    margin: 25px;
    margin-top: 50px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    font-size: 30px;
    background-color: rgb(4, 21, 75);
    cursor: pointer;
    /*background-image: url(todolist1.jpg);
    background-size: contain;
    background-repeat: no-repeat;*/
}
.userinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
input[type="text"]{
    background-color: rgb(64, 80, 233);
    border: none;
    outline: none;
    margin: 1.5rem;
    margin-right: 5px;
    height: 35px;
    min-width: 500px;
    border-radius: 3px;
    padding: 10px;
    color: rgb(216, 218, 231);
    font-size: 20px;
}
h1{
    font-size: 3rem;
    text-align: center;
    color: rgb(166, 176, 223);
}
button{
    height: 35px;
    width: 35px;
    color: rgb(166, 176, 223);
    background-color: rgb(64, 80, 233);
    border: 1.5px solid rgb(64, 80, 233);
    border-radius: 8px;
}
button:hover{
    border: none;
    transition-duration: 0.1s;
    box-shadow: 0 12px 16px 0 rgba(6, 36, 100, 0.541), 0 17px 50px 0 rgba(6, 36, 100, 0.541);
}
button:focus{
    outline: none;
}
button:active{
    cursor: progress;
}
button:hover{
    width: 37px;
    height: 37px;
    color: rgb(216, 218, 231);
    background-color: rgb(45, 61, 204);
    border: 1.5px solid rgb(45, 61, 204);
}
#todolist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 0.4rem;
}
li:nth-child(odd){
    background-color: rgb(127, 132, 204);
}
li:nth-child(even){
    color: rgb(127, 132, 204);
}
ul li{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding: 8px;
    font-variant: normal;
    position: relative;
    width: 80%;
}
ul li.checked {
    text-decoration: line-through;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
}
.checkbox input[type="checkbox"]{
    height: 20px;
    width: 20px;
    margin-right: 0.4rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons button{
    width: 80px;
    height: 45px;
    margin: 1rem;
    border-radius: 20px;
}
.buttons button i{
    padding: 0.5rem;
    font-size: 18px;
}

